<div class="container">
  <h1>Stupid Coaching</h1>
  <br>
  <h5>Ask your coach anything</h5>

  <form action="/answer" class="input-group">
    <input type="text" class="form-control" name="question" aria-describedby="button-addon">
    <input type="submit" class="btn btn-primary" id="button-addon" value="Ask!">
  </form>
</div>
